@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3 ">
        <style>
            .list-topic-item:hover {
                background: #3b3b3b;
            }

            .list-topic-item {
                font-size: 14px;
                padding-bottom: 10px !important;
                padding-top: 10px !important;
            }
        </style>
        <ul class="list-unstyled">
            @for (int i = 0; i < 100; i++)
            {
                <li class="list-topic-item p-1 d-block pl-0 py-2 pr-3">
                    <a class="link-light text-reset text-decoration-none" href="/saldirgan-kopeklere-zehirli-et-verin-gebersinler--7204764?a=popular" draggable="true">saldırgan köpeklere zehirli et verin <small class="text-muted">(354)</small></a>
                </li>
            }
        </ul>

    </div>
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="col-12 bg-gray-700">
                <h1 class="h3 ">erkek yazarların son yaptığı yemek</h1>
                asdsd
            </div>
        </div>


    </div>
    <div class="col-md-3">right frame</div>

</div>